<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta 
            name="viewport"
            content="width=device-width, user-scale=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale = 1.0">
        <meta http-equiv="X-UA-Compatible" content="firefox">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/cars.css') }}">
        <title>Cars</title>
    </head>
    <body>
        <header>
            <div class="header-container">
                <h1>
                    Список автомобилей
                </h1>
            </div>
        </header>
        <main>
            <div class="table-container">
                <table class="table">
                    <thead>
                        <tr>
                            {% for header in headers %}
                            <th>{{ header }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in tableData %}
                            <tr>
                                <td>{{ row['id'] }}</td>
                                <td>{{ row['firm'] }}</td>
                                <td>{{ row['model'] }}</td>
                                <td>{{ row['year'] }}</td>
                                <td>{{ row['power'] }}</td>
                                <td>{{ row['color'] }}</td>
                                <td>{{ row['price'] }}</td>
                                <td>{{ row['dealer_id'] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
        <footer>
            <div class="footer-container">
                <form method="get", action="/">
                    <input type="submit" value="Назад"/>
                </form>
            </div>
        </footer>
    </body>
</html>